.wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1470px;

}
.post{
    width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;

}
.comment {
    text-shadow: 3px 5px 6px silver;
}